<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Qui sommes nous</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut.
            </p>
            <ul class="footer-links">
              <li>
                <a><i class="fa fa-map-marker"></i>82 Avenue Tolosane</a>
              </li>
              <li>
                <a><i class="fa fa-phone"></i>+33650581370</a>
              </li>
              <li>
                <a
                  ><i class="fa fa-envelope-o"></i
                  >dahira.toulouse.app@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Catégories</h3>
            <ul class="footer-links">
              <li><a href="#">ALimentaire</a></li>
              <li><a href="#">Khassida</a></li>
              <li><a href="#">Habit</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="#">Masslikoul Djinane TT</a></li>
              <li><a href="#">Nous contacter</a></li>
              <li><a href="#">Commandes</a></li>
              <li><a href="#">Conditions</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li><a href="#">Mon comptet</a></li>
              <li><a href="#">Afficher Panier</a></li>
              <li><a href="#">Aide</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li>
              <a href="#"><i class="fa fa-cc-visa"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-credit-card"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-paypal"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-mastercard"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-discover"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-amex"></i></a>
            </li>
          </ul>
          <span class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Droits d'auteur &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            Tous les droits sont réservés
            <i class="fa fa-heart-o" aria-hidden="true"></i> par
            <a href="#" target="_blank">PII touba toulouse</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
